/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
picture {
  margin: 0;
  padding: 0;
  border: 0;
}
svg {
  fill: currentColor;
  width: 100%;
}
.none {
  display: none;
}
.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .d-flex {
    justify-content: space-between;
  }
}
.to-top {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 40px;
  height: 40px;
  z-index: 10;
  opacity: 0.6;
}
.to-top__icon {
  width: 100%;
  height: 100%;
  fill: rgba(255, 255, 255, 0.7);
}
.to-top__icon:hover {
  cursor: pointer;
  fill: #b4b4b4;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?54304424');
  src: url('../fonts/fontello.eot?54304424#iefix') format('embedded-opentype'), url('../fonts/fontello.woff2?54304424') format('woff2'), url('../fonts/fontello.woff?54304424') format('woff'), url('../fonts/fontello.ttf?54304424') format('truetype'), url('../fonts/fontello.svg?54304424#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?54304424#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-ok:before {
  content: '\e800';
}
/* '' */
.icon-plus:before {
  content: '\e801';
}
/* '' */
.container {
  width: 100%;
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 998px;
  }
}
@media (min-width: 1170px) {
  .container {
    max-width: 1300px;
  }
}
.page {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  background-color: #ffffff;
}
.buy,
.footer {
  display: flex;
  flex-wrap: wrap;
}
.title {
  width: 100%;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
  color: #445161;
}
@media (min-width: 768px) {
  .title {
    font-size: 25px;
  }
}
@media (min-width: 1170px) {
  .title {
    font-size: 30px;
  }
}
.title--color--white {
  color: #fff;
}
.header {
  justify-content: space-between;
  background: rgba(68, 81, 97, 0.5) url(../img/logo.jpg);
  background-size: cover;
  background-blend-mode: color;
}
@media (min-width: 768px) {
  .header {
    background-color: #445161;
    background-image: none;
  }
}
.header__wrapper {
  position: relative;
  padding: 25px 15px 15px;
}
@media (min-width: 768px) {
  .header__wrapper {
    padding: 25px 20px 19px 20px;
  }
}
@media (min-width: 1170px) {
  .header__wrapper {
    padding: 25px 50px 19px 50px;
  }
}
.header__text-wrap {
  width: 100%;
  color: #ffffff;
}
@media (min-width: 768px) {
  .header__text-wrap {
    width: 48%;
  }
}
@media (min-width: 1170px) {
  .header__text-wrap {
    width: 48%;
  }
}
.header__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  line-height: 1.17;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .header__title {
    margin-bottom: 30px;
    font-size: 40px;
    text-align: left;
  }
}
@media (min-width: 1170px) {
  .header__title {
    margin-bottom: 34px;
    font-size: 60px;
  }
}
.header__text-box {
  margin-left: 20px;
}
.icon-ok {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.header__text:not(:last-of-type) {
  margin-bottom: 10px;
}
.header__img-wrap {
  display: none;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (min-width: 768px) {
  .header__img-wrap {
    display: block;
    width: 47%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (min-width: 1170px) {
  .header__img-wrap {
    width: 472px;
    height: 217px;
  }
}
.about {
  display: flex;
  flex-wrap: wrap;
}
.about__wrapper {
  padding: 25px 15px 15px;
}
@media (min-width: 768px) {
  .about__wrapper {
    padding: 25px 20px 20px 20px;
  }
}
@media (min-width: 1170px) {
  .about__wrapper {
    padding: 45px 50px 50px 50px;
  }
}
.about__text-wrap {
  width: 100%;
}
@media (min-width: 768px) {
  .about__text-wrap {
    width: 48%;
  }
}
.about__title {
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .about__title {
    text-align: left;
  }
}
.about__text + .about__text {
  margin-top: 10px;
}
.about__video-wrap {
  width: 80%;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .about__video-wrap {
    width: 39%;
    margin-top: 0;
  }
}
@media (min-width: 1170px) {
  .about__video-wrap {
    width: 430px;
    height: 275px;
  }
}
.about__video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.about__video-wrap iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pluses {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}
.pluses__wrapper {
  padding: 25px 15px 0px;
}
@media (min-width: 768px) {
  .pluses__wrapper {
    padding: 25px 20px 5px 20px;
  }
}
@media (min-width: 1170px) {
  .pluses__wrapper {
    padding: 45px 50px 35px 50px;
  }
}
.pluses__text-box {
  width: 100%;
}
.pluses__title {
  margin-bottom: 22px;
}
.pluses__text {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  padding-left: 42px;
}
@media (min-width: 768px) {
  .pluses__text {
    width: 48%;
    margin-bottom: 33px;
  }
}
.pluses__text::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 34px;
  height: 35px;
  background-color: #445161;
}
.pluses__text::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 5px;
  width: 25px;
  height: 25px;
  background-image: url(../img/icon-plus.svg);
}
.scrinshots__wrapper {
  padding: 25px 15px 0 15px;
}
@media (min-width: 768px) {
  .scrinshots__wrapper {
    padding: 25px 20px 5px 20px;
  }
}
@media (min-width: 1170px) {
  .scrinshots__wrapper {
    padding: 45px 50px 25px 50px;
  }
}
.scrinshots__title {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .scrinshots__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1170px) {
  .scrinshots__title {
    margin-bottom: 45px;
  }
}
.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .description {
    width: 48%;
    justify-content: center;
  }
}
@media (min-width: 1170px) {
  .description {
    max-width: 575px;
  }
}
.description__img {
  width: 202px;
  height: 153px;
  margin-right: 14px;
  margin-bottom: 14px;
}
.description__title {
  flex-basis: 260px;
  flex-grow: 1;
  font-size: 18px;
  line-height: 1.25;
  color: #445161;
}
@media (min-width: 768px) {
  .description__title {
    flex-basis: 220px;
    flex-grow: 0;
    font-size: 20px;
  }
}
@media (min-width: 1170px) {
  .description__title {
    flex-grow: 1;
    font-size: 24px;
  }
}
.description__body {
  display: block;
  margin-top: 5px;
  font-size: 16px;
  color: #333333;
}
.buy__wrapper {
  padding: 25px 15px 0 15px;
}
@media (min-width: 768px) {
  .buy__wrapper {
    justify-content: space-around;
    padding: 25px 20px 0 20px;
  }
}
@media (min-width: 1170px) {
  .buy__wrapper {
    justify-content: space-between;
    padding: 45px 50px 20px 50px;
  }
}
.buy__title {
  margin-bottom: 26px;
}
.buy__card {
  margin-bottom: 30px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 280px;
  padding: 14px 2px 20px;
  background-color: #445161;
  border-radius: 5px;
  transition: 0.2s;
}
@media (min-width: 768px) {
  .card {
    flex-basis: 300px;
  }
}
.card__title {
  padding-bottom: 7px;
  text-align: center;
  font-size: 24px;
  line-height: 1.25;
  color: #ffffff;
}
.card__price {
  width: 99%;
  padding: 25px 107px 16px 107px;
  font-size: 40px;
  line-height: 30px;
  color: #445161;
  background-color: #ffffff;
}
.card__description {
  padding: 8px 20px 16px;
  list-style-type: decimal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.card__link {
  display: block;
  width: 262px;
  height: 43px;
  font-size: 18px;
  line-height: 43px;
  font-weight: bold;
  color: #445161;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 5px;
  transition: 0.2s;
}
.card__link:hover {
  background-color: #b4b4b4;
}
.reviews {
  justify-content: center;
  background-color: #f5f5f5;
}
.reviews__wrapper {
  padding: 25px 15px 0 15px;
}
@media (min-width: 768px) {
  .reviews__wrapper {
    padding: 25px 20px 0 20px;
  }
}
@media (min-width: 1170px) {
  .reviews__wrapper {
    padding: 45px 50px 20px 50px;
  }
}
.reviews__title {
  margin-bottom: 29px;
}
.quote {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 540px;
  margin: 0;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .quote {
    width: 49%;
  }
}
@media (min-width: 1170px) {
  .quote {
    max-width: 576px;
  }
}
.quote__img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .quote__img {
    width: 100px;
    height: 100px;
  }
}
.quote__caption {
  position: relative;
  flex-basis: 280px;
  flex-grow: 1;
  margin-left: 15px;
  padding: 15px 10px 5px 15px;
  background-color: #ebebeb;
  border-radius: 5px;
}
@media (min-width: 1170px) {
  .quote__caption {
    width: 483px;
  }
}
.quote__caption::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 24px;
  left: -12px;
  top: 50%;
  background-color: #ebebeb;
  transform: rotate(52deg);
}
.quote__body {
  position: relative;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  z-index: 1;
}
@media (min-width: 1170px) {
  .quote__body {
    max-width: 458px;
  }
}
.quote__signature {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #989898;
}
.contacts {
  background-color: #445162;
}
.contacts__wrapper {
  padding: 25px 15px 25px;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    justify-content: center;
    padding: 25px 30px 20px;
  }
}
@media (min-width: 1170px) {
  .contacts__wrapper {
    padding: 45px 50px 50px 50px;
  }
}
.contacts__title {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .contacts__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1170px) {
  .contacts__title {
    margin-bottom: 43px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 280px;
  flex-grow: 1;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .form {
    max-width: 350px;
    margin-right: 20px;
    padding: 0;
  }
}
@media (min-width: 1170px) {
  .form {
    max-width: 503px;
    margin-right: 45px;
    padding: 0;
  }
}
.form__item {
  width: 100%;
  margin-bottom: 18px;
  padding: 12px 12px 7px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #445161;
  background-color: #ffffff;
  border: 4px solid transparent;
  border-radius: 5px;
}
.form__item:focus {
  outline-color: transparent;
}
.form__message {
  height: 100px;
}
@media (min-width: 768px) {
  .form__message {
    height: 120px;
  }
}
@media (min-width: 1170px) {
  .form__message {
    height: 173px;
  }
}
.form__button {
  width: 143px;
  height: 43px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}
@media (min-width: 768px) {
  .form__button {
    margin-bottom: 0;
  }
}
.form__button:hover {
  background-color: #b4b4b4;
}
.form__item:focus:invalid {
  border-color: #f84a05;
}
.form_hint {
  background: #d45252;
  border-radius: 3px 3px 3px 3px;
  color: white;
  margin-left: 8px;
  padding: 1px 6px;
  z-index: 999;
  /* hints stay above all other elements */
  position: absolute;
  /* allows proper formatting if hint is two lines */
  display: none;
}
.social {
  display: flex;
}
.social__link {
  display: block;
  width: 45px;
  height: 45px;
  font-size: 0;
}
.social__link:not(last-of-type) {
  margin-right: 6px;
}
.social__icon {
  transition: 0.2s;
}
.social__link:hover > .social__icon {
  fill: #b4b4b4;
}
.social__icon {
  width: 45px;
  height: 45px;
  fill: #fff;
}
.messengers {
  width: 230px;
  margin-bottom: 25px;
}
@media (min-width: 1170px) {
  .messengers {
    margin-bottom: 43px;
  }
}
.messengers__item {
  display: flex;
  align-items: center;
}
.messengers__item:not(:last-of-type) {
  margin-bottom: 20px;
}
.messengers__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  fill: #ffffff;
  cursor: pointer;
}
.messengers__link {
  color: #ffffff;
  font-size: inherit;
  line-height: inherit;
  transition: 0.2s;
}
.messengers__item:hover > .messengers__icon {
  fill: #b4b4b4;
}
.messengers__item:hover > .messengers__link {
  color: #b4b4b4;
}
.footer {
  background-color: #f5f5f5;
  font-size: 12px;
  line-height: 24px;
  color: #445161;
}
.footer__wrapper {
  padding: 13px;
}
@media (min-width: 768px) {
  .footer__wrapper {
    justify-content: center;
  }
}
.footer__copy {
  margin-right: 10px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .footer__copy {
    margin-bottom: 0px;
  }
}
